<?xml version="1.0" encoding="GB2312">
<!-- 打包配置文件 -->
<!-- solution 是一个方案 name 显示的方案的名字 cmd 打包完成后执行的配置文件 -->
<config>
	<solution name="所有打包-提交到服务器" cmd="E:/e/work/design-new-svn/版本配置/tbl打表工具/postbuild2server.bat" >
		<package xml="E:/e/work/design-new-svn/版本配置/表格配置/道具表/equipenchance_client.xml" output="E:/e/work/design-new-svn/版本配置/client/table" />
		<package xml="E:/e/work/design-new-svn/版本配置/表格配置/道具表/objbase_client.xml" output="E:/e/work/design-new-svn/版本配置/client/table" />
	</solution>
	<solution name="所有打包-不提交到服务器" cmd="E:/e/work/design-new-svn/版本配置/tbl打表工具/postbuildnot2server.bat" >
		<package xml="E:/e/work/design-new-svn/版本配置/表格配置/战斗NPC表/battlenpc_client.xml" output="E:/e/work/design-new-svn/版本配置/client/table" />
		<package xml="E:/e/work/design-new-svn/版本配置/表格配置/战斗NPC表/heroproperty_client.xml" output="E:/e/work/design-new-svn/版本配置/client/table" />
	</solution>
</config>